*{
  padding: 0;
  box-sizing: border-box;
}
ul , li, a{
  text-decoration: none;
  list-style: none;
}
.form{
  border: 1px solid black;
  text-align: center;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  background-color: #f5a623;
  margin-top: .5rem;
  & p{
    font-size: 1em;
    text-align: center;
    color: black;
    font-weight: bold;
  }
}  
#inicio-buttons{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  & button{
    margin: 10px;
    background-color: #007bff;
    color: #fff;
  }
}
#realizar-transaccion{
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
#transacciones{
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-items: center;
  border: 1px solid black;
  background-color: #f5a623;
  margin-top: .5rem;
  & th{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    &:last-child{
      border-right: none;
    }
  }
  & td{
    border-bottom: 1px solid black;
  }
  & tr:last-child td {
    border-bottom: none; /* Elimina el borde inferior de la última fila */
  }
}

#login{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}
#login-form{
  width: 350px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}
#password,#username{
  border: 1px solid black;
  border-radius: 5px;
  width: 70%;
  height: 30px;
}
#login-button{  
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}


#mostrar-transacciones{
  background-color: #007bff;
  color: #fff;
  width: max-content;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#borrar-transacciones{
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#transaccion-form{
  display: none;
  justify-content: center;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-items: center;
  border: 1px solid black;
  background-color: #f5a623;
  margin-top: .5rem;
}
#transaccion-form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#cotizador{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#valor{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

body{
  background-color: cadetblue;
}
/* Formulario */
h2 {
  text-align: center;
  padding: 20px;
  font-size: 2em;
}

form {
  max-width: 400px;
  margin: 0 auto;
  background-color:#f5a623 ;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.campo {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

textarea {
  resize: vertical;
}

.botones {
  text-align: center;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}

button:last-child {
  background-color: #ccc;
  color: #333;
}

/* Acerca de nosotros */
#acerca {
  background-color: orange; /* Fondo naranja */
  padding: 40px; /* Espaciado interior para separar el contenido del borde */
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
}

.acerca-container {
  background-color: white; /* Fondo blanco para el contenido */
  border-radius: 10px; /* Bordes redondeados para el contenedor */
  padding: 20px; /* Espaciado interior para separar el contenido del borde del contenedor */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra para que parezca que flota */
  margin-left: 10%;
  margin-right: 10%;
}

h2, p {
  margin: 0; /* Eliminar márgenes predeterminados */
}

h2 {
  color:#f5a623; /* Color de texto naranja para el encabezado */
  font-size: 24px; /* Tamaño de fuente para el encabezado */
  margin-bottom: 20px; /* Espaciado inferior para separar del párrafo siguiente */
}

p {
  font-size: 22px; /* Tamaño de fuente para los párrafos */
  line-height: 1.5; /* Espaciado entre líneas para una mejor legibilidad */
  color: #333; /* Color de texto principal (gris oscuro) */
  text-align: justify; /* Justificar el texto para un aspecto más limpio */
  margin-top: 10px;
}

.p::first-letter {
  font-size: 28px; /* Tamaño de fuente para la primera letra */
  color: orange; /* Color de la primera letra (naranja) */
  float: left; /* Hacer flotar la primera letra hacia la izquierda */
  margin-right: 5px; /* Espaciado a la derecha de la primera letra */
  font-weight: bold; /* Hacer que la primera letra sea negrita */
  line-height: 1; /* Alineación vertical de la primera letra */
}

/* Seccion preguntas frecuentes */
#questions {
  background-color: orange; /* Fondo naranja */
  padding: 40px; /* Espaciado interior para separar el contenido del borde */
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
}

.questions-container {
  background-color: white; /* Fondo blanco para el contenido */
  border-radius: 10px; /* Bordes redondeados para el contenedor */
  padding: 20px; /* Espaciado interior para separar el contenido del borde del contenedor */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra para que parezca que flota */
}

h2 {
  color: orange; /* Color de texto naranja para el encabezado */
  font-size: 24px; /* Tamaño de fuente para el encabezado */
  margin-bottom: 20px; /* Espaciado inferior para separar del primer elemento FAQ */
}

.question-item {
  margin-bottom: 20px; /* Espaciado inferior entre elementos FAQ */
}

h3 {
  font-size: 20px; /* Tamaño de fuente para las preguntas */
  color: #333; /* Color de texto principal (gris oscuro) para las preguntas */
}

p {
  font-size: 15px; /* Tamaño de fuente para las respuestas */
  line-height: 1.5; /* Espaciado entre líneas para una mejor legibilidad */
  color: #333; /* Color de texto principal (gris oscuro) para las respuestas */
}

#inicio-article{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  border: 3px  darkblue dotted;
  background-color: #f5a623;
  padding: 20px;
  animation: move-animation 1.5s linear infinite;
  & p{
    text-align: start;
    color: black;
  }
}

@keyframes move-animation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(40px); /* Ajusta la distancia que deseas que se mueva */
  }
  100% {
    transform: translateX(0);
  }
}

